{% extends ('base.html.twig') %}

{% block body %}
       <h1>Overview about Aathiran Fin</h1>
       <p>Founded in the year 2021 by Lingeshwaran Krishnan while having spark in his mind that "how can we manage his finance?".<br/>
       You can enjoy creating 'n' number of users subscription.<br/>
       Kindly support us during this starting phase. We assure you that we will give you satisfactory service.

       <div class="container">
        <img src="{{asset('images/logo1.png')}}"></img>
       </div>
        
{% endblock %}

        
      
