{% extends ('base.html.twig') %}
{% block title %}
       Aathiran Fin
{% endblock title%}
{% block body %}
<section id="overview" class="overview">
<div class="container" style="font-size: 18px;">
       <h1>Overview about Aathiran Readers Comm</h1>
       <p>Founded in the year 2021 by Lingeshwaran Krishnan while having spark in his mind that "He need a platform to post and showcase his writeups
       and also needed that for the person alike him".<br/>
       You can enjoy creating 'n' number of posts and get the authors contact to make a community.<br/>
       Kindly support us during this starting phase. We assure you that we will give you satisfactory service.
</div>
</section>
       <section id="first">
                     <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6">
                             <img src="{{asset('images/blog_logo.png')}}"></img>
                     </div>

                     <div class="col-lg-6 col-md-6 col-sm-6" id="contact">
                           <div class="container">
                            <h5>Send Us Query</h5>
                           </div>
                           {{form(contactform)}}
                     </div>
              </div>         
       </section>
{% endblock %}

        
      
