{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6" id="registrationform">
        <div class="container">
            <h5>Register Here</h5>
        </div>
        {{form(regform)}}
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6" id="loginpanel">
    <div class="container">
        <h5>Login Here</h5>
    </div>
    <div class="container">
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                            <script>
                            function onSignIn(googleUser) {
                                var profile = googleUser.getBasicProfile();
                                // Useful data for your client-side scripts:
                                console.log('Full Name: ' + JSON.stringify(profile));
                                document.querySelector('#content').innerText = googleUser.getBasicProfile().getName();
                            }
                            </script>
               
        </div>
        <br/><h6 style="margin-left: 240px;">Or Login Using</h6><br/>

         {{form(loginform)}}
    </div>
    
    </div>
</div>
        
{% endblock %}