body {
    background-color: white;
}
nav.navbar.navbar-expand-lg{
    background:white;
   }
.nav-item a{
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}
.content {
    color: black;
    font-weight: 600;
}

.navbar-brand {
    color:#275929;
    font-weight:900;
}
.navbar-brand :hover{
    color:#275929;
    font-weight:900;
}
li {
    list-style: none;
}
.nav-item a:hover{
   background:green;
   color: white;
}
